body * {
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma,
    Arial, PingFang SC-Light, Microsoft YaHei;
    margin: 0;
}
input {
  background-color: transparent;
  border: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

button:active {
  opacity: 0.6;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
. {
  display: flex;
  justify-content: space-between;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-end {
  display: flex;
  align-items: flex-end;
}
a{text-decoration:none;color:#000;}
img {
  cursor: pointer;
}
.loading-container{
  padding: 0;
  text-align: center;
  height: 50vh;
  width: 100%;
  background:#eee;
}
.loading{
  margin-top: 25vh;
  animation: bounce 1.5s infinite linear;
  background: #FFF;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  text-align: center;
  width: 20px;
}

.loading:nth-child(1){
  animation-delay: .2s;
}
.loading:nth-child(2){
  animation-delay: .4s;
}
.loading:nth-child(3){
  animation-delay: .6s;
}
.loading:nth-child(4){
  animation-delay: .8s;
}
.loading:nth-child(5){
  animation-delay: 1s;
}
@keyframes bounce {
    0% {
			transform: translateY(0);
    }
  	15% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
}
