@font-face {
  font-family: "iconfont"; /* Project id 3842883 */
  src: url('iconfont.woff2?t=1672717243063') format('woff2'),
       url('iconfont.woff?t=1672717243063') format('woff'),
       url('iconfont.ttf?t=1672717243063') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backtotop:before {
  content: "\e696";
}

.icon-31sousuo:before {
  content: "\e600";
}

.icon-shouyefill:before {
  content: "\e750";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-xiangxiajiantou:before {
  content: "\e61f";
}

