<div class="index_content">
  <div class="top_content">
    <a class="right" :href="'detailsBestpicks.html?id=' + bestpicksResult1[0].id">
      <img class="image_2" referrerpolicy="no-referrer" :src="bestpicksResult1[0].first_picture" />
      <div class="text-group_1 flex-col ">
        <h2 class="text_21">
          {{bestpicksResult1[0].title}}
        </h2>
        <p class="text_22">
          {{bestpicksResult1[0].main_title}}
        </p>
        <p class="text_23">By {{bestpicksResult1[0].author_name}}
        </p>
      </div>
    </a>
    <div class="left">
      <template v-for="item, index in bestpicksResult1.slice(1, 3)">
        <a class="left_item" :href="'detailsBestpicks.html?id=' + item.id">
          <div class="left_item_text-group_1 flex-col ">
            <h2 class="text_21">
              {{item.title}}
            </h2>
            <p class="text_22">
              {{item.title}}
            </p>
            <p class="text_23">By {{item.title}}
            </p>
          </div>
          <img class="image_2" referrerpolicy="no-referrer" :src="item.first_picture" />
        </a>
        <div v-if="!index" class="left_item_hr"></div>
      </template>
    </div>
  </div>
  <div class="bottom">
    <a class="bottom_item" v-for="item in bestpicksResult1.slice(3, 7)" :href="'detailsBestpicks.html?id=' + item.id">
      <img class="image_2" referrerpolicy="no-referrer" :src="item.first_picture" />
      <div class="bottom_item_text-group_1 flex-col ">
        <h2 class="text_21">
          {{item.title}}
        </h2>
        <p class="text_23">
          By {{item.author_name}} published {{item.release_time}}
        </p>
      </div>
    </a>
  </div>
  <div class="content_line">

  </div>
  <div class="read_more">
    <span>Lates best_picks</span>
    <a href="./bestpicksPage.html?id=1-18-1"><span>VIEW MORE></span></a>
  </div>
  <div class="top_content best_picks">
    <a class="right" :href="'detailsBestpicks.html?id=' + bestpicksResult2[0].id">
      <img class="image_2" referrerpolicy="no-referrer" :src="bestpicksResult2[0].first_picture" />
      <div class="text-group_1 flex-col ">
        <h2 class="text_21">
          {{bestpicksResult2[0].title}}
        </h2>
        <p class="text_22">
          {{bestpicksResult2[0].main_title}}
        </p>
        <p class="text_23">By {{bestpicksResult2[0].author_name}}
        </p>
      </div>
    </a>
    <div class="left">
      <template v-for="item, index in bestpicksResult2.slice(1, 3)">
        <a class="left_item" :href="'detailsBestpicks.html?id=' + item.id">
          <div class="left_item_text-group_1 flex-col ">
            <h2 class="text_21">
              {{item.title}}
            </h2>
            <p class="text_22">
              {{item.main_title}}
            </p>
            <p class="text_23">By {{item.author_name}}
            </p>
          </div>
          <img class="image_2" referrerpolicy="no-referrer" :src="item.first_picture" />
        </a>
        <div v-if="!index" class="left_item_hr"></div>
      </template>
    </div>
  </div>
  <div class="bottom">
    <a class="bottom_item" v-for="item in bestpicksResult2.slice(3, 7)" :href="'detailsBestpicks.html?id=' + item.id">
      <img class="image_2" referrerpolicy="no-referrer" :src="item.first_picture" />
      <div class="bottom_item_text-group_1 flex-col ">
        <h2 class="text_21">
          {{item.title}}
        </h2>
        <p class="text_23">
          By {{item.author_name}} published {{item.release_time}}
        </p>
      </div>
    </a>
  </div>
  <div class="content_line">
  </div>
  <div class="read_more">
    <span>Lates Reviews</span>
    <a href="./reviewsPage.html?id=1-19-1"><span>VIEW MORE></span></a>
  </div>
  <div class="bottom">
    <a class="bottom_item" v-for="item in reviewsResult" :href="'detailsReviews.html?id=' + item.id">
      <img class="image_2" referrerpolicy="no-referrer" :src="item.first_picture" />
      <div class="bottom_item_text-group_1 flex-col ">
        <h2 class="text_21">
          {{item.title}}
        </h2>
        <p class="start">
          <span v-for="el in item.score">★</span><span v-for="el in 5">☆</span>
        </p>
        <p class="text_22">
          {{item.main_title}}
        </p>
        <p class="text_23">
          By {{item.author_name}} published {{item.release_time}}
        </p>
      </div>
    </a>
  </div>
  <div class="content_line">

  </div>
</div>
